*{margin:0;padding:0}
body{
padding:1em;
line-height:1.6;
font-size:16px;
color:#333;
width:100%;
overflow:hidden;
}
h1,h2{color:#222}
img{margin:0 2px}
a{display:inline-block;margin:5px 10px}

.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; } @-webkit-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} } @keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }

/* HELL */
select{
width:140px;
padding:6px 8px;
background:#eee;
border:1px solid #000;
font-size:16px;
display:block;
}
.radio{
margin:1em 0;
}
input[type=submit]{
background:green;
color:#fff;
font-size:17px;
padding:8px 12px;
border:1px solid orange;
}
.label{
display:inline-block;
padding:0 4px 5px 4px;
}
